<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.configMapper">
    <!--获取配置信息-->
    <select id="getConfig" resultType="com.dyw.client.entity.ConfigTableEntity">
        select * from ConfigTable;
    </select>
    <!--获取事件信息-->
    <select id="getNote" resultType="com.dyw.client.entity.NoteEntity">
        select * from NoteTable;
    </select>
    <!--获取功能点信息-->
    <select id="getFunction" resultType="com.dyw.client.entity.FunctionEntity" flushCache="true">
        select * from FunctionTable order by functionSort;
    </select>
</mapper>