<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.equipmentMapper">
    <!--根据条件查询所有设备（一体机）-->
    <select id="getAllEquipmentWithCondition" parameterType="Integer"
            resultType="com.dyw.client.entity.EquipmentEntity">
        select * from EquipmentTable
        <if test="_parameter != 0">
            where equipmentPermission = #{_parameter} and equipmentType = 1;
        </if>
    </select>
    <!--查询所有抓拍机信息-->
    <select id="getALlCamera" resultType="com.dyw.client.entity.EquipmentEntity" flushCache="true">
        select * from EquipmentTable where equipmentType = 3;
    </select>
    <!--查询所有设备信息-->
    <select id="getAllEquipment" resultType="com.dyw.client.entity.EquipmentEntity">
        select * from EquipmentTable ORDER BY equipmentPermission;
    </select>
    <!--更新设备信息-->
    <update id="updateEquipment" parameterType="com.dyw.client.entity.EquipmentEntity">
        update EquipmentTable set
        equipmentName=#{equipmentName},equipmentIp=#{equipmentIp},equipmentType=#{equipmentType},equipmentPermission=#{equipmentPermission},
        equipmentSwitchIp=#{equipmentSwitchIp},equipmentHostIp=#{equipmentHostIp},equipmentChannel=#{equipmentChannel}
        where
        equipmentId=#{equipmentId};
    </update>
    <!--新增设备-->
    <insert id="addEquipment" parameterType="com.dyw.client.entity.EquipmentEntity" flushCache="true"
            useGeneratedKeys="true" keyProperty="equipmentId">
        insert into EquipmentTable
        (equipmentName,equipmentIp,equipmentType,equipmentPermission,equipmentSwitchIp,equipmentHostIp,equipmentChannel)
        values
        (#{equipmentName},#{equipmentIp},#{equipmentType},#{equipmentPermission},#{equipmentSwitchIp},#{equipmentHostIp},#{equipmentChannel});
    </insert>
    <!--删除设备-->
    <delete id="deleteEquipment" parameterType="Integer">
        delete from EquipmentTable where equipmentId =#{equipmentId};
    </delete>
    <!--收取抓拍机信息-->
    <select id="getAllCamera" resultType="com.dyw.client.entity.EquipmentEntity">
        select * from EquipmentTable where equipmentType = 3;
    </select>
    <!--根据主机IP读取采集设备信息-->
    <select id="getFaceCollectionWithHostIp" parameterType="String" resultType="com.dyw.client.entity.EquipmentEntity">
        select * from EquipmentTable where equipmentHostIp = #{_parameter} and equipmentType = 2
    </select>
</mapper>