<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.equipmentMapper">
    <!--根据条件查询所有设备-->
    <select id="getAllEquipmentWithCondition" resultType="com.dyw.client.entity.EquipmentEntity">
        select * from Equipment where GroupId = #{GroupId};
    </select>
    <!--查询所有设备信息-->
    <select id="getAllEquipment" resultType="com.dyw.client.entity.EquipmentEntity">
        select * from Equipment;
    </select>
    <!--更新设备信息-->
    <update id="updateEquipment" parameterType="com.dyw.client.entity.EquipmentEntity">
        update Equipment set Name=#{Name},IP=#{IP},StatusSwitchSocketIP=#{StatusSwitchSocketIP} where Id=#{Id};
    </update>
</mapper>