<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.faceCollectionMapper">
    <!-- 插入获取全部采集设备信息 -->
    <select id="getAllFaceCollection" resultType="com.dyw.client.entity.FaceCollectionEntity">
        select * from FaceCollection;
    </select>
    <!--修改采集设备信息-->
    <update id="updateFaceCollection" parameterType="com.dyw.client.entity.FaceCollectionEntity">
        update FaceCollection set
        faceCollectionName=#{faceCollectionName},faceCollectionIp=#{faceCollectionIp},hostIp=#{hostIp}
        where id=#{id};
    </update>
    <!--获取采集设备信息-->
    <select id="getFaceCollectionWithHostIp" parameterType="String"
            resultType="com.dyw.client.entity.FaceCollectionEntity">
        select * from FaceCollection where hostIp=#{hostIp};
    </select>
</mapper>