<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.passRecordMapper">
    <!--获取通行信息-->
    <select id="getPassInfo" resultType="com.dyw.client.entity.PassRecordEntity">
        select * from PassRecordTable where passRecordId=#{passRecordId};
    </select>
    <!--获取历史通行记录-->
    <select id="getHistoryPassInfo" resultType="com.dyw.client.entity.PassRecordEntity">
        select * from PassRecordTable where passRecordPassTime &gt; #{startDate} and passRecordPassTime &lt;
        #{endDate}
        <if test="passRecordEquipmentIp != null">
            and passRecordEquipmentIp=#{passRecordEquipmentIp}
        </if>
        <if test="passRecordEventTypeId != 0">
            and passRecordEventTypeId=#{passRecordEventTypeId}
        </if>
        <if test="passRecordCardNumber != null">
            and passRecordCardNumber=#{passRecordCardNumber}
        </if>
        <if test="passRecordName != null">
            and passRecordName=#{passRecordName}
        </if>
        ORDER BY passRecordPassTime;
    </select>
    <!--获取单台设备通行总数-->
    <select id="getPassNumberCount" resultType="Integer">
        select count(*) from PassRecordTable where passRecordEquipmentIp=#{passRecordEquipmentIp} and passRecordPassTime
        &gt; #{startDate} and
        passRecordPassTime
        &lt;
        #{endDate}
        <if test="passRecordEventTypeId!=0">
            and passRecordEventTypeId=#{passRecordEventTypeId}
        </if>
    </select>
    <!--更新事件说明-->
    <update id="updatePassRecordNote" parameterType="com.dyw.client.entity.PassRecordEntity">
        update PassRecordTable set passRecordNote=#{passRecordNote},passRecordNoteId=#{passRecordNoteId} where
        passRecordId = #{passRecordId}
    </update>
    <!--查询全部统计失败统计信息-->
    <select id="getAllFaultSummation" resultType="com.dyw.client.entity.FaultSummationEntity" flushCache="true">
        select * from FaultSummation INNER JOIN Staff ON FaultSummation.cardNumber=Staff.CardNumber
    </select>
    <!--清空全部失败统计信息-->
    <delete id="deleteAllFaultSummation">
        delete from FaultSummation
    </delete>
</mapper>