<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.staffMapper">
    <!--查询单个人员的采集信息-->
    <select id="getStaffCollectionInfo" parameterType="com.dyw.client.entity.CollectionEntity"
            resultType="com.dyw.client.entity.CollectionEntity">
        select * from FaceCollectionTemp where Id=#{Id};
    </select>
    <!--新增人员信息-->
    <insert id="insertStaff" parameterType="com.dyw.client.entity.StaffEntity" useGeneratedKeys="true"
            keyProperty="StaffId">
        INSERT INTO
        Staff
        (Name,NameEn,CardId,CardNumber,Birthday,Sex,Company,Photo) values
        (#{Name},#{NameEn},#{CardId},#{CardNumber},#{Birthday},#{Sex},#{Company},#{Photo});
    </insert>
    <!--修改人员信息-->
    <update id="updateStaff" parameterType="com.dyw.client.entity.StaffEntity">
        UPDATE Staff SET Name=#{Name},NameEn=#{NameEn},CardId=#{CardId},CardNumber=#{CardNumber},Birthday=#{Birthday},
        Sex=#{Sex},Company=#{Company},Photo=#{Photo} WHERE CardNumber=#{OldCard};
    </update>
    <!--删除人员信息-->
    <delete id="deleteStaff" parameterType="com.dyw.client.entity.StaffEntity">
        DELETE FROM Staff WHERE CardNumber=#{CardNumber};
    </delete>
    <!--查询待拍照人员列表-->
    <select id="getTemporaryStaff" resultType="com.dyw.client.entity.StaffEntity" flushCache="true">
        SELECT * FROM TemporaryStaff;
    </select>
    <!--依据卡号和姓名查询人员-->
    <select id="getResultStaffWithCardAndName" parameterType="String" resultType="com.dyw.client.entity.StaffEntity">
        select * from Staff WHERE Name LIKE #{name} OR CardNumber LIKE #{CardNumber};
    </select>
    <!--依据姓名查询人员-->
    <select id="getResultStaffWithName" parameterType="String" resultType="com.dyw.client.entity.StaffEntity">
        select * from Staff WHERE Name LIKE #{name};
    </select>
    <!--依据卡号查询人员-->
    <select id="getResultStaffWithCard" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from Staff WHERE CardNumber LIKE #{CardNumber};
    </select>
    <!--根据卡号查询待拍照人员表人员-->
    <select id="getWaitStaffWithCard" resultType="com.dyw.client.entity.StaffEntity">
        SELECT * FROM TemporaryStaff where CardNumber=#{CardNumber};
    </select>
    <!--新增待拍照人员-->
    <insert id="insertWaitStaff" parameterType="com.dyw.client.entity.StaffEntity">
        INSERT INTO
        TemporaryStaff
        (Name,NameEn,CardId,CardNumber,Birthday,Sex,Company) values
        (#{Name},#{NameEn},#{CardId},#{CardNumber},#{Birthday},#{Sex},#{Company});
    </insert>
    <!--获取全部人员信息-->
    <select id="getAllStaff" resultType="com.dyw.client.entity.StaffEntity" flushCache="true">
        select * from Staff where StaffId &gt; 501 and StaffId &lt; 520;
    </select>
</mapper>