<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.staffMapper">
    <!--查询单个人员的采集信息-->
    <select id="getStaffCollectionInfo" parameterType="Integer"
            resultType="com.dyw.client.entity.FaceCollectionEntity">
        select * from FaceCollectionTable where faceCollectionId=#{_parameter};
    </select>
    <!--新增人员信息-->
    <insert id="insertStaff" parameterType="com.dyw.client.entity.StaffEntity" useGeneratedKeys="true"
            keyProperty="staffId">
        INSERT INTO
        StaffTable
        (staffName,staffCardId,staffCardNumber,staffBirthday,staffGender,staffCompany,staffImage,staffValidity) values
        (#{staffName},#{staffCardId},#{staffCardNumber},#{staffBirthday},#{staffGender},#{staffCompany},#{staffImage},1);
    </insert>
    <!--修改人员信息-->
    <update id="updateStaff" parameterType="com.dyw.client.entity.StaffEntity">
        UPDATE StaffTable SET
        staffName=#{staffName},staffCardId=#{staffCardId},staffCardNumber=#{staffCardNumber},staffBirthday=#{staffBirthday},staffGender=#{staffGender},
        staffCompany=#{staffCompany},staffImage=#{staffImage},staffValidity=1 WHERE staffId=#{staffId};
    </update>
    <!--删除人员信息-->
    <delete id="deleteStaff" parameterType="com.dyw.client.entity.StaffEntity">
        delete from StaffTable WHERE staffId=#{staffId};
    </delete>
    <!--查询待拍照人员列表-->
    <select id="getTemporaryStaff" resultType="com.dyw.client.entity.StaffEntity" flushCache="true">
        SELECT * FROM StaffTable where staffValidity = 2;
    </select>
    <!--依据卡号和姓名查询人员-->
    <select id="getResultStaffWithCardAndName" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from StaffTable WHERE staffName LIKE #{staffName} OR staffCardNumber LIKE #{staffCardNumber} and
        staffValidity=1;
    </select>
    <!--依据姓名查询人员-->
    <select id="getResultStaffWithName" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from StaffTable WHERE staffName LIKE #{staffName} and
        staffValidity=1;
    </select>
    <!--依据卡号查询人员-->
    <select id="getResultStaffWithCard" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from StaffTable WHERE staffCardNumber LIKE #{staffCardNumber} and
        staffValidity=1;
    </select>
    <!--根据卡号精确查询待拍照人员表人员-->
    <select id="getWaitStaffWithCardAccurate" resultType="com.dyw.client.entity.StaffEntity">
        SELECT * FROM StaffTable where staffCardNumber=#{staffCardNumber} and staffCardNumber !='0';
    </select>
    <!--新增待拍照人员-->
    <insert id="insertWaitStaff" parameterType="com.dyw.client.entity.StaffEntity">
        INSERT INTO
        StaffTable
        (Name,NameEn,CardId,CardNumber,Birthday,Sex,Company) values
        (#{Name},#{NameEn},#{CardId},#{CardNumber},#{Birthday},#{Sex},#{Company});
    </insert>
    <!--获取全部人员信息-->
    <select id="getAllStaff" resultType="com.dyw.client.entity.StaffEntity" flushCache="true">
        select * from StaffTable where staffCardNumber!='0';
    </select>
    <!--依据卡号精确查询人员-->
    <select id="getStaffWithCard" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from StaffTable WHERE staffCardNumber = #{_parameter} and staffCardNumber !='0';
    </select>
    <!--依据卡号和姓名查询待拍照人员-->
    <select id="getWaitStaffWithCardAndName" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from StaffTable WHERE staffName LIKE #{staffName} OR staffCardNumber LIKE #{staffCardNumber} where
        staffValidity = 2;
    </select>
    <!--依据姓名查询待拍照人员-->
    <select id="getWaitStaffWithName" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from StaffTable WHERE staffName LIKE #{staffName} and staffValidity = 2;
    </select>
    <!--依据卡号查询待拍照人员-->
    <select id="getWaitStaffWithCard" parameterType="String" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select * from StaffTable WHERE staffCardNumber LIKE #{staffCardNumber} and staffValidity = 2;
    </select>
    <!--依据查询数量查询人员信息-->
    <select id="getStaffByNumber" parameterType="Integer" resultType="com.dyw.client.entity.StaffEntity"
            flushCache="true">
        select top ${_parameter} * from StaffTable where staffCardNumber!='0';
    </select>
</mapper>